
$color-nav: #464040;
$bordes-nav: #fff;
$section-color: #93cbe5;

/* Contenedores Banderas */
$color-contenedores: #fff;
$color-letras-container: #fff;
$color-borde-contenedores: #000000;
$color-contenedores-letra-h4: #93cbe5;