.banderas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.7rem;

    position: relative;
    bottom: 52rem;
    left: 28rem;
    img {
        width: 10rem;
        height: 10rem;
    }
}

.banderas-box {
    background: $color-contenedores;
    width: 26.2rem;
    height: 14rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.banderas-info {
    .img-principal {
        img {
            width: 26.2rem;
            height: 9rem;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
        }
    }
}

.banderas-box:hover {
background: transparent;
color: #fff;
transform: scale(1.03);
box-shadow: 0px 0px 10px 0px #000000;
.contenido-secundario {
    h3 {
        color: #fff;
    }
    h4 {
        color: #fff;
    }
}
}

.contenido-secundario {
    display: flex;
    justify-content: space-around;
    img {
        position: relative;
        top: 0.5rem;
        right: 1rem;

        border-radius: 5px;
        width: 6rem;
        height: 3rem;
    }
    .contenido {
        display: flex;
        flex-direction: column;
        h3 {
            position: relative;
            color: #93cbe5;
            top: -0.6rem;
            right: 5.7rem;
        }
        h4 {
            position: relative;
            color: $color-contenedores-letra-h4;
            color: black;
            top: -2.9rem;
            right: 5.7rem;

        }
    }
}