@import '../Container/banderas';

.contenedor {
    position: relative;
    left: 42rem;
    bottom: 55rem;
}

.nav-hijo {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 44rem;
    height: 2.5rem;
    border-radius: 5rem;
    padding: 1rem;

    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px #000000 ;

    h3 {
        position: relative;
        left: 1rem;
        top: -1.4rem;
    }
    input {
        position: relative;
        left: 1rem;
        top: -2.4rem;
        width: 10rem;
    }
    .navegador {
        position: relative;
        bottom: 5.4rem;
        left: 11rem;
        align-self: center;
        input {
            position: relative;
            top: 1rem;
            border-radius: 1rem;
            outline: none;
            text-align: center;
        }
        button {
            position: absolute;
            top: 1rem;
            border-radius: 1rem;
            border-block-style: none;
            border-inline-style: none;
        }
    }
}


